<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
        integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="images/tree-logo.png" type="image/x-icon">
</head>

<body>
<!-- Navigation -->
<div class="container-fluid main_menu">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <nav class="navbar navbar-expand-lg ">
                <a class="navbar-brand" href="#"><i class="fas fa-snowflake "></i> Om Prakash Portfolio <i
                        class="fas fa-snowflake "></i></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="weather">Weather</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about">About</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" target="_blank" href="https://medium.com/@omprakash524">Blog</a>
                            </li>
                        <li class="nav-item">
                            <a class="nav-link" href="portfolio">Portfolio</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>

<!-- Main Header -->
<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!-- Left side div -->
                <div class="col-md-6 col-12 main_header_right align-item-center">
                    <figure>
                        <img src="images/omprofile.png" alt="omprakash" class="img-fluid" title="omprakash" />
                    </figure>
                </div>

                <!-- Right side div -->
                <div class="col-md-6 col-12 main_header_left">

                    <h1>As a dedicated <span class="text_clr">MERN stack developer</span>, I passionately share
                        my insights and expertise through technical blogs and articles on <span
                            class="text_clr">Medium</span>. Delving into the intricacies of MERN stack development, my
                        goal is to provide valuable content that resonates with both beginners and seasoned
                        developers.</h1>
                    <a href="https://omprakashp.netlify.app/" target="_blank"><button>Resume</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Technical Skills Section -->
<div class="text-center">
    <h1 class="display-4">My Technical Skills</h1>
</div>
<style>
  .list-group-item {
    border: 5px solid #02509e;
    border: none;
    list-style: none;
    font-size: 16px;
  }
</style>
<br>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Front-end Skills</h3>
        <ul class="list-group">
          <li class="list-group-item">&#8226; HTML5 </li>
          <li class="list-group-item">&#8226; CSS </li>
          <li class="list-group-item">&#8226; JavaScript </li>
          <li class="list-group-item">&#8226; React.js </li>
        </ul>
        <br>
        <h3 class="card-subtitle mb-2 text-muted">Frameworks & Libraries</h3>
        <ul class="list-group" style="font-size: smaller;">
          <li class="list-group-item">&#8226; React Router for routing in a single page application (SPA) </li>
          <li class="list-group-item">&#8226; Bootstrap, MaterializeCSS</li>
          <li class="list-group-item">&#8226; jQuery (JavaScript libraries) </li>
        </ul>
        
        <br>
        <a href="#" class="btn btn-primary"><h3>Front-end Projects</h3></a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Back-end Skills</h3>
        <ul class="list-group">
          <li class="list-group-item">&#8226; MongoDB </li>
          <li class="list-group-item">&#8226; Express Js </li>
          <li class="list-group-item">&#8226; Node Js</li>
          <li class="list-group-item">&#8226; RESTful API Design and Development </li>
        </ul>
        <br>
        <h3 class="card-subtitle mb-2 text-muted">Template Engine</h3>
        <ul class="list-group" style="font-size: smaller;">
          <li class="list-group-item">&#8226; Handlebar </li>
        </ul>
        <br>
        <h3 class="card-subtitle mb-2 text-muted">Version Control System</h3>
        <ul class="list-group" style="font-size: smaller;">
          <li class="list-group-item">&#8226; Git and GitHub </li>
        </ul>
        <br>
        <a href="#" class="btn btn-primary"><h3>Back-end Projects</h3></a>
      </div>
    </div>
  </div>
</div>
<br>
<br>
{{!-- my list of fullstack project --}}
<div class="text-center">
    <h1 class="display-4">Full-Stack Project</h1>
</div>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./images1/frontend.jpg" class="d-block w-100" alt="Front end skills">
    </div>
    <div class="carousel-item">
      <img src="./images1/971.jpg" class="d-block w-100" alt="Front end skills">
    </div>
    <div class="carousel-item">
      <img src="./images1/html.jpg" class="d-block w-100" alt="Front end skills">
    </div>
    <div class="carousel-item">
      <img src="./images1/software_text_1.jpg" class="d-block w-100" alt="Front end skills">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<br>
<div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <h1>Full-stack  <span class="text_clr">Registration </span>Form</h1>
                        
                        <a href="/weather"><button>Check now</button></a>
                    </div>
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img src="images/android-logo.webp" class=" w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="images/pngwing.com.png" class=" w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="images/wether-logo.png" class=" w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="images/tree-logo.png" class=" w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="images/weather-icon.jpg" class=" w-100" alt="...">
                              </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- Footer Section -->
<footer>
    <p>Created with ❤️ by <a href="#">Om Prakash</a></p>
</footer>
