<header>
    <nav class="hover-nav">
        <ul class="menu">
            <li><a href="/homepage.html">HomePage</a></li>
            <li><a href="/aboutus.html">About Us</a></li>
            <li><a href="/contactus.html">Contact Us</a></li>
            <li><a href="/pages.html">Pages</a></li>
            <li><a href="/geolocation.html">Geolocation</a></li>
        </ul>
    </nav> 
</header> 

<main>
    <marquee behavior="scroll" direction="right" scrollamount="10"></marquee>
    <h1 class="banner-header">Handmade, With an Extra Pinch of <span>Love</span> </h1>
    <div class="pizzaside">
        <img src="./images/banner-img.png" alt="Pizza image">
    <p class="ptxt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quod natus voluptates repudiandae eaque laboriosam
        pizza, dish of Italian origin consisting of a flattened disk of bread dough topped with some combination of olive oil,
        oregano, tomato, olives, mozzarella or other cheese, and many other ingredients, baked quickly—usually, in a commercial 
        setting, using a wood-fired oven heated to a very high temperature—and served hot </p>
    </div>
    <p class="ptxt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quod natus voluptates repudiandae eaque laboriosam
            pizza, dish of Italian origin consisting of a flattened disk of bread dough topped with some combination of olive oil,
            oregano, tomato, olives, mozzarella or other cheese, and many other ingredients, baked quickly—usually, in a commercial 
            setting, using a wood-fired oven heated to a very high temperature—and served hot </p>
</main>
